# Pandas Datareader

# READ THIS FIRST:


### THE STOCK APIS ARE OFTEN CHANGING DUE TO COMPANIES SUCH AS GOOGLE AND YAHOO CHANGING THEIR API ASPECT DUE TO A VARIETY OF FACTORS. CHECK THE PANDAS DATAREADER WEBSITE TO GET INFORMATION ON THE LATEST APIS, SINCE THIS WILL HAVE THE LATEST INFORMATION

## https://pandas-datareader.readthedocs.io/en/latest/

----
** NOTE: Not every geographical location works well with pandas datareader, your firewall may also block it!**

---

Functions from pandas_datareader.data and pandas_datareader.wb extract data from various Internet sources into a pandas DataFrame. Currently the following sources are supported:

* Yahoo! Finance
* Google Finance
* Enigma
* St.Louis FED (FRED)
* Kenneth Frenchâ€™s data library
* World Bank
* OECD
* Eurostat
* Thrift Savings Plan
* Oanda currency historical rate
* Nasdaq Trader symbol definitions (remote_data.nasdaq_symbols)

It should be noted, that various sources support different kinds of data, so not all sources implement the same methods and the data elements returned might also differ.

In [9]:
import pandas_datareader
import os
os.environ["IEX_API_KEY"] = "pk_bf75ca9a2a50406eafeb8d7953ffd6c5"

In [12]:
import pandas_datareader.data as web
import datetime

start = datetime.datetime(2015, 1, 1)
end = datetime.datetime(2020, 4, 3)

# try 'yahoo' if Google doesn't work. make sure to check the website mentioned above
# search QA forums if you have any issues on this, many questions have already been answered there!
facebook = web.DataReader("F", 'iex', start, end)

In [15]:
facebook.tail()

            open  high   low  close     volume
date
2020-03-30  5.11  5.12  4.93   5.03   97879666
2020-03-31  5.03  5.19  4.75   4.83  231800752
2020-04-01  4.63  4.77  4.36   4.40  119174506
2020-04-02  4.39  4.57  4.25   4.36   90891690
2020-04-03  4.40  4.42  4.17   4.24   85659866

# FRED

In [16]:
import pandas_datareader.data as web

import datetime

start = datetime.datetime(2010, 1, 1)

end = datetime.datetime(2017, 1, 1)

gdp = web.DataReader("GDP", "fred", start, end)

In [17]:
gdp.head()

                  GDP
DATE
2010-01-01  14721.350
2010-04-01  14926.098
2010-07-01  15079.917
2010-10-01  15240.843
2011-01-01  15285.828